.breadcrumbs {
    background-color: #41485A;
    display: flex;
    padding: 10px 40px;
    a {
        color: white;
        font-size: large;
        text-decoration: none;
        & + &:before {
            content: '>';
            font-weight: normal;
            margin: 0 15px;
        }
        &.active {
            font-weight: bold;
        }
    }
}